body {
  font-family: "a-otf-ud-shin-go-pr6n, sans-serif"; }

.header__pc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 80px;
  margin: 0 auto; }
  .header__pc img {
    width: 160px; }
  .header__pc li {
    display: inline;
    text-align: center;
    margin: 0 1vw; }

.header__mobile {
  display: none; }

nav {
  display: none; }

.top {
  background-image: url(../img/top_img.jpg);
  background-size: cover;
  height: 600px;
  color: white;
  font-family: "Hiragino Mincho Pro"; }
  .top h3 {
    font-size: 3rem;
    padding: 5% 0 0 5%;
    margin: 0; }
  .top__btn {
    padding: 10px 20px;
    border: white 1px solid;
    border-radius: 30px;
    width: 300px;
    text-align: center;
    margin: 5%;
    font-size: larger; }
    .top__btn:hover {
      transition: all 0.3s ease;
      background-color: #ffcb08;
      border: none; }

.philosophy {
  background-color: #efefef;
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .philosophy__body {
    font-family: "a-otf-ud-shin-go-pr6n, sans-serif";
    background-color: white;
    margin: 0 auto;
    width: 90%;
    height: 90%;
    text-align: center; }
    .philosophy__body h3 {
      font-size: 30px;
      margin: 40px 0 20px 0; }
  .philosophy__btn {
    background-color: #ffcb08;
    margin: 40px auto;
    font-size: 16px;
    font-weight: bold;
    line-height: 70px;
    width: 400px;
    height: 70px; }
    .philosophy__btn:hover {
      transition: all 0.3s ease;
      background-color: black;
      color: white;
      border: none; }

.merit {
  background-image: url(../img/top_img.jpg);
  background-size: cover;
  height: 640px;
  text-align: center; }
  .merit h3 {
    color: white;
    padding-top: 50px;
    font-size: 34px; }
  .merit h4 {
    color: white;
    font-size: 16px; }
  .merit__wrap {
    display: flex;
    justify-content: space-around;
    padding-top: 50px; }
  .merit__blk {
    width: 270px;
    height: 260px;
    background-color: white; }
    .merit__blk h5 {
      color: #ffcb08;
      font-size: 18px;
      padding-top: 80px; }
    .merit__blk p {
      font-size: 24px; }
  .merit__btn {
    background-color: #ffcb08;
    margin: 40px auto;
    font-size: 16px;
    font-weight: bold;
    line-height: 70px;
    width: 400px;
    height: 70px; }
    .merit__btn:hover {
      transition: all 0.3s ease;
      background-color: black;
      color: white;
      border: none; }

.service {
  text-align: center;
  margin-top: 70px;
  font-size: 18px; }
  .service span {
    font-size: 36px;
    color: #ffcb08; }
  .service h3 {
    font-size: 36px; }
  .service__wrap {
    display: flex;
    justify-content: space-around;
    margin-top: 50px; }
  .service__blk {
    width: 280px; }
    .service__blk img {
      max-width: 280px; }
  .service__btn {
    background-color: #ffcb08;
    margin: 60px auto;
    font-size: 16px;
    font-weight: bold;
    line-height: 70px;
    width: 400px;
    height: 70px; }
    .service__btn:hover {
      transition: all 0.3s ease;
      background-color: black;
      color: white;
      border: none; }

.topmsg {
  background-color: #efefef; }
  .topmsg__wrap {
    display: flex;
    justify-content: space-around;
    margin-top: 50px; }
  .topmsg__txt h4 {
    font-size: 34px;
    margin: 40px 0 30px 0; }
  .topmsg__txt p {
    margin-top: 5px; }
  .topmsg__btn {
    background-color: #ffcb08;
    color: white;
    margin: 40px 0 20px 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 70px;
    width: 400px;
    height: 70px; }
    .topmsg__btn:hover {
      transition: all 0.3s ease;
      background-color: black;
      color: white;
      border: none; }
  .topmsg__img img {
    max-width: 400px; }

.work {
  text-align: center;
  margin-top: 70px; }
  .work span {
    font-size: 36px;
    color: #ffcb08; }
  .work h3 {
    font-size: 36px; }
  .work__wrap {
    display: flex;
    justify-content: space-around;
    padding-top: 50px; }
  .work__blk {
    width: 280px; }
    .work__blk img {
      max-width: 280px; }
  .work__btn {
    background-color: #ffcb08;
    color: black;
    margin: 60px auto 20px auto;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 70px;
    width: 400px;
    height: 70px; }
    .work__btn:hover {
      transition: all 0.3s ease;
      background-color: black;
      color: white;
      border: none; }

.contents {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #efefef; }
  .contents span {
    display: block;
    font-size: 36px;
    color: #ffcb08; }
  .contents h3 {
    font-size: 36px;
    padding: 10px 0 30px 0; }
  .contents__wrap {
    display: flex;
    justify-content: space-around;
    padding-top: 50px; }
  .contents__blk {
    background-color: white;
    height: 380px;
    width: 280px;
    padding: 20px; }
    .contents__blk img {
      max-width: 240px; }
    .contents__blk span {
      font-size: 14px;
      color: black; }
    .contents__blk h4 {
      font-size: 18px; }
    .contents__blk p {
      font-size: 14px; }
  .contents__btn {
    background-color: #ffcb08;
    margin: 60px auto 20px auto;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 70px;
    width: 400px;
    height: 70px; }
    .contents__btn:hover {
      transition: all 0.3s ease;
      background-color: black;
      color: white;
      border: none; }

.contact {
  font-family: "a-otf-ud-shin-go-pr6n, sans-serif";
  background-image: url(../img/top_img.jpg);
  background-size: cover;
  height: 440px;
  text-align: center;
  color: white;
  padding-top: 90px; }
  .contact span {
    font-size: 36px; }
  .contact p {
    font-size: 24px;
    padding-top: 10px; }
  .contact__btn {
    margin: 20px auto 20px auto;
    width: 320px;
    height: 70px;
    border: white 5px solid; }
    .contact__btn:hover {
      transition: all 0.3s ease;
      background-color: #ffcb08;
      color: black; }
    .contact__btn p {
      font-size: 24px;
      text-align: center;
      line-height: 65px;
      padding: 0; }

footer {
  padding-top: 20px; }
  footer ul {
    text-align: center; }
  footer li {
    display: inline;
    text-align: center;
    margin: 0 1vw; }

.footer__menu {
  padding-bottom: 85px; }

.footer__info {
  font-size: 12px;
  padding-left: 30px; }
  .footer__info img {
    max-width: 195px; }
  .footer__info p {
    padding: 10px; }

@media screen and (max-width: 1200px) {
  * {
    box-sizing: border-box; }
  .header__pc {
    display: none; }
  .header__mobile {
    height: 75px;
    padding: 0 10px;
    transition: all .5s;
    display: flex;
    align-items: center; }
    .header__mobile img {
      max-width: 170px;
      max-height: 60px; }
  .header__humberger {
    display: inline-block;
    width: 30px;
    height: 28px;
    margin-left: auto;
    cursor: pointer;
    z-index: 100;
    transform: translateX(0);
    transition: transform .5s; }
    .header__humberger span {
      display: inline-block;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #000;
      transition: all .5s; }
      .header__humberger span:nth-child(1) {
        top: 0; }
      .header__humberger span:nth-child(2) {
        top: 10px; }
      .header__humberger span:nth-child(3) {
        top: 20px; }
      .header__humberger span:nth-child(4) {
        background-color: transparent;
        font-size: 10px;
        text-align: center;
        bottom: 0; }
      .header__humberger span:nth-child(5) {
        display: none; }
    .header__humberger.active {
      transform: translateX(-250px); }
      .header__humberger.active span {
        color: white;
        background-color: #fff; }
        .header__humberger.active span:nth-child(1) {
          transform: translateY(10px) rotate(-45deg); }
        .header__humberger.active span:nth-child(2) {
          opacity: 0; }
        .header__humberger.active span:nth-child(3) {
          transform: translateY(-10px) rotate(45deg); }
        .header__humberger.active span:nth-child(4) {
          display: none; }
        .header__humberger.active span:nth-child(5) {
          display: inline;
          background-color: transparent;
          font-size: 10px;
          text-align: center;
          bottom: 0; }
  nav {
    display: block;
    width: 250px;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translate(250px);
    transition: all .5s; }
    nav.open {
      transform: translateZ(0); }
    nav ul {
      list-style: none; }
    nav li {
      color: black;
      padding: 10px 10px;
      border-bottom: solid 1px; }
  .overlay {
    content: "";
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .5s; }
    .overlay.open {
      width: 100%;
      height: 100%;
      opacity: 1; }
  .top {
    height: 450px; }
  .philosophy {
    height: auto;
    border: solid 15px #efefef;
    background-color: transparent; }
    .philosophy__btn {
      margin: 40px auto 20px auto;
      width: 95%;
      font-size: 14px; }
  .merit {
    height: auto; }
    .merit__wrap {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .merit__blk {
      width: 90%;
      height: auto;
      margin: 5px 0; }
      .merit__blk h5 {
        padding-top: 30px; }
      .merit__blk p {
        padding-bottom: 20px; }
    .merit__btn {
      width: 65%; }
  .service {
    height: auto; }
    .service__wrap {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .service__blk {
      width: 90%;
      height: auto;
      margin: 5px auto; }
      .service__blk img {
        max-width: initial;
        width: 100%; }
    .service__btn {
      margin: 40px auto 20px auto;
      width: 90%; }
  .topmsg {
    height: auto; }
    .topmsg img {
      max-width: 90%; }
    .topmsg__wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
    .topmsg__btn {
      background-color: #333333;
      margin: 40px auto 20px auto;
      width: 90%; }
      .topmsg__btn:hover {
        transition: all 0.3s ease;
        background-color: #ffcb08;
        color: black;
        border: none; }
  .work {
    height: auto; }
    .work__wrap {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .work__blk {
      width: 90%;
      height: auto;
      margin: 5px auto; }
      .work__blk img {
        width: 100%; }
    .work__btn {
      margin: 40px auto 20px auto;
      width: 90%; }
  .contents {
    height: auto; }
    .contents__wrap {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .contents__blk {
      width: 90%;
      height: auto;
      margin: 5px auto; }
      .contents__blk img {
        text-align: center;
        width: 100%; }
      .contents__blk span {
        text-align: left; }
      .contents__blk h4 {
        text-align: left; }
      .contents__blk p {
        text-align: left; }
    .contents__btn {
      margin: 40px auto 20px auto;
      width: 90%; }
  .contact__btn {
    font-size: 20px;
    width: 95%; }
  footer {
    padding: 0; }
    footer li {
      padding: 15px 0 15px 10px;
      display: block;
      text-align: left;
      margin: 0;
      border-bottom: #c1c1c1 1px solid; }
  .footer__menu {
    padding-bottom: 20px; }
  .footer__info {
    text-align: center;
    padding: 0; }
    .footer__info p:nth-child(1) {
      text-align: left; } }
