body {
  font-family: "UD Shin Go Medium"; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 80px;
  margin: 0 auto; }
  header img {
    height: 30px;
    width: 160px; }
  header li {
    display: inline;
    text-align: center;
    margin: 0 1vw; }

.top {
  background-image: url(../img/top_img.jpg);
  background-size: cover;
  height: 600px;
  color: white;
  font-family: "Hiragino Mincho Pro"; }
  .top h3 {
    font-size: 4rem;
    padding: 5% 0 0 5%;
    margin: 0; }
  .top__btn {
    padding: 10px 20px;
    border: white 1px solid;
    border-radius: 30px;
    width: 300px;
    text-align: center;
    margin: 5%;
    font-size: larger; }

.philosophy {
  background-color: #efefef;
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .philosophy__body {
    font-family: "UD Shin Go Medium";
    background-color: white;
    margin: 0 auto;
    width: 90%;
    height: 90%;
    text-align: center; }
    .philosophy__body h3 {
      font-size: 30px;
      margin: 40px 0 20px 0; }
  .philosophy__btn {
    background-color: #ffcb08;
    margin: 40px auto;
    font-size: 16px;
    font-weight: bold;
    line-height: 70px;
    width: 400px;
    height: 70px; }

.merit {
  background-image: url(../img/top_img.jpg);
  background-size: cover;
  height: 640px;
  text-align: center; }
  .merit h3 {
    color: white;
    padding-top: 50px;
    font-size: 34px; }
  .merit h4 {
    color: white;
    font-size: 16px; }
  .merit__wrap {
    display: flex;
    justify-content: space-around;
    padding-top: 50px; }
  .merit__blk {
    width: 270px;
    height: 260px;
    background-color: white; }
    .merit__blk h5 {
      color: #ffcb08;
      font-size: 18px;
      padding-top: 80px; }
    .merit__blk p {
      font-size: 24px; }
  .merit__btn {
    background-color: #ffcb08;
    margin: 40px auto;
    font-size: 16px;
    font-weight: bold;
    line-height: 70px;
    width: 400px;
    height: 70px; }

.service {
  text-align: center;
  margin-top: 70px; }
  .service span {
    font-size: 36px;
    color: #ffcb08; }
  .service h3 {
    font-size: 36px; }
  .service__wrap {
    display: flex;
    justify-content: space-around;
    margin-top: 50px; }
  .service__blk {
    width: 280px; }
    .service__blk img {
      max-width: 280px; }
  .service__btn {
    background-color: #ffcb08;
    margin: 40px auto;
    font-size: 16px;
    font-weight: bold;
    line-height: 70px;
    width: 400px;
    height: 70px; }

.topmsg {
  background-color: #efefef; }
  .topmsg__wrap {
    display: flex;
    justify-content: space-around;
    margin-top: 50px; }
  .topmsg__txt h4 {
    font-size: 34px;
    margin: 40px 0 30px 0; }
  .topmsg__txt p {
    margin-top: 5px; }
  .topmsg__btn {
    background-color: #ffcb08;
    margin: 40px 0 20px 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 70px;
    width: 400px;
    height: 70px; }
  .topmsg__img img {
    max-width: 400px; }
