.blogtop {
    height: 190px;

    &__img {
        position: relative;
        opacity: 0.5;

        img {
            height: 190px;
            width: 100%;
        }
    }

    &__letter {
        position: absolute;
        top: 15%;
        left: 10%;
        font-size: 30px;
    }
    
}

.bread {
    margin-left: 5%;
    line-height: 45px;
    font-size: 12px;
}

.blogcontents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 50px;
    text-align: center;
    padding: 0 10px;
    background-color: #efefef;

    &__blk {
        background-color: white;
        height: 380px;
        width: 280px;
        padding: 20px;
        margin: 20px 0;

        img {
            max-width: 240px;
        }

        span {
            font-size: 14px;
            color: black;
        }
    
        h4 {
            font-size: 18px;
        }

        p {
            font-size: 14px;
        }
    }

}