.contactsgl {
    text-align: center;
    width: 800px;
    margin: 0 auto;

    &__head {
        text-align: center;
        margin-bottom: 80px;
    }

    &__form {
        width: 100%;

        input {
            font-size: 16px;
            border: 1px solid black;
            height: 54px;
            width: 100%;
            margin: 15px;
        }

        textarea {
            border: 1px solid black;
            width: 100%;
            margin: 15px;
        }
    }

    &__namebox {
        display: flex;
        justify-content: space-between;

        span {
            width: 48%;
        }
    }

    &__checkbox {
        margin-top: 40px;
        font-size: 16px;
        line-height: 30px;
        text-align: left;

    }

    &__msg {
        margin-top: 40px;
        text-align: left;
    }
}

.-name {
    width: 48%;
}

span.wpcf7-list-item {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
    width: 30%;

    input {
        font-size: 16px;
        height: 16px;
        width: 15px;
    }
}

input.wpcf7-form-control.wpcf7-submit {
    background-color: #ffcb08;
    color: white;
    border: none;
    height: 70px;
    width: 60%;


    &:hover {
        transition: all 0.3s ease;
        background-color: black;
        color: white;
        border: none;
    }

}