body {
    font-family: "UD Shin Go Medium";
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 80px;
    margin: 0 auto;

    img { 
        height: 30px;
        width: 160px;
    }

    li {
        display: inline;
        text-align: center;
        margin: 0 1vw;
    }

}

.top {
    background-image: url(../img/top_img.jpg);
    background-size: cover;
    height: 600px;
    color: white;
    font-family: "Hiragino Mincho Pro";
    
    h3 {        
        font-size: 4rem;
        padding: 5% 0 0 5%;
        margin: 0;
    }

    &__btn {
        padding: 10px 20px;
        border: white 1px solid;
        border-radius: 30px;
        width: 300px;
        text-align: center;
        margin: 5%;
        font-size: larger;
    }

}

.philosophy {
    background-color: rgb(239,239,239);
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__body {
        font-family: "UD Shin Go Medium";
        background-color: white;
        margin: 0 auto;
        width: 90%;
        height: 90%;
        text-align: center;

        h3 {
            font-size: 30px;
            margin: 40px 0 20px 0;
        }
    }


    &__btn {
        background-color: #ffcb08;
        margin: 40px auto;
        font-size: 16px;
        font-weight: bold;
        line-height: 70px;
        width: 400px;
        height: 70px;
    }

}

.merit {
    background-image: url(../img/top_img.jpg);
    background-size: cover;
    height: 640px;
    text-align: center;

    h3 {
        color: white;
        padding-top: 50px;
        font-size: 34px;
    }

    h4 {
        color: white;
        font-size: 16px;
    }

    &__wrap {
        display: flex;
        justify-content: space-around;
        padding-top: 50px;
    }

    &__blk {
        width: 270px;
        height: 260px;
        background-color: white;

        h5 {
            color: #ffcb08;
            font-size: 18px;
            padding-top: 80px;
        }
        p {
            font-size: 24px;
        }
    }

    &__btn {
        background-color: #ffcb08;
        margin: 40px auto;
        font-size: 16px;
        font-weight: bold;
        line-height: 70px;
        width: 400px;
        height: 70px;
    }
}

.service {
    text-align: center;
    margin-top: 70px;

    span {
        font-size: 36px;
        color: #ffcb08;
    }

    h3 {
        font-size: 36px;
    }

    &__wrap {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;

    }

    &__blk {
        width: 280px;

        img {
            max-width: 280px;
        }

    }

    &__btn {
        background-color: #ffcb08;
        margin: 60px auto;
        font-size: 16px;
        font-weight: bold;
        line-height: 70px;
        width: 400px;
        height: 70px;
    }
}

.topmsg {
    background-color: #efefef;

    &__wrap {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }

    &__txt {

        h4 {
            font-size: 34px;
            // line-height: 58px;
            margin: 40px 0 30px 0;
        }

        p {
            margin-top: 5px;
        }

    }

    &__btn {
        background-color: #ffcb08;
        margin: 40px 0 20px 0;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 70px;
        width: 400px;
        height: 70px;
    }

    &__img {

        img{
            max-width: 400px;
        }
        
    }

}

.work {
    text-align: center;
    margin-top: 70px;

    span {
        font-size: 36px;
        color: #ffcb08;
    }

    h3 {
        font-size: 36px;
    }

    &__wrap {
        display: flex;
        justify-content: space-around;
        padding-top: 50px;
    }

    &__blk {
        width: 280px;

        img {
            max-width: 280px;
        }

    }

    &__btn {
        background-color: #ffcb08;
        margin: 60px auto 20px auto;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 70px;
        width: 400px;
        height: 70px;
    }

}

.contents { 
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: #efefef;

    span {
        font-size: 36px;
        color: #ffcb08;
    }

    h3 {
        font-size: 36px;
        padding: 10px 0 30px 0;
    }

    &__wrap {
        display: flex;
        justify-content: space-around;
        padding-top: 50px;

    }

    &__blk {
        background-color: white;
        height: 380px;
        width: 280px;
        padding: 20px;

        img {
            max-width: 240px;
        }

        span {
            font-size: 14px;
            color: black;
        }
    
        h4 {
            font-size: 18px;
        }

        p {
            font-size: 14px;
        }
    }

    &__btn {
        background-color: #ffcb08;
        margin: 60px auto 20px auto;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        line-height: 70px;
        width: 400px;
        height: 70px;
    }

}
.contact {
    font-family: "UD Shin Go Medium";
    background-image: url(../img/top_img.jpg);
    background-size: cover;
    height: 440px;
    text-align: center;
    color: white;
    padding-top: 90px;

    span {
        font-size: 36px;
    }

    p {
        font-size: 24px;
        padding-top: 10px;
    }

    &__btn {
        margin: 20px auto 20px auto;
        width: 320px;
        height: 70px;
        border: white 5px solid;

        p {
        font-size: 24px;
        text-align: center;
        line-height: 65px;
        padding: 0;
        }

    }
}

footer {
    padding-top: 20px;

    ul {
        text-align: center;
    }

    li {
        display: inline;
        text-align: center;
        margin: 0 1vw;
    }
}

.footer__menu {
    padding-bottom: 85px;
}

.footer__info {
    font-size: 12px;
    padding-left: 30px;

    img {
        max-width: 195px;
    }

    p {
        padding: 10px;
    }
}
