.price {
    margin: 0 auto;
    width: 70%;

    &__blk {
        margin: 50px 0 180px 0;
    }

    &__img {
        text-align: center;

        img {
            width: 70%;
        }
    }

    &__title {
        line-height: 45px;
        font-size: 35px;
        padding-left: 50px;
        margin-bottom: 35px;
        border-left: solid 30px;
        border-color: gold;
    }

    &__text {
        font-size: 40px;
        text-align: center;
    }

    &__expln {
        margin: 60px 0;

        h4 {
            font-size: 1.3em;
            margin: 10px 0;
        }

        ul {
            // list-style: none;
            font-size: 1em;
        }

        li {
            margin: 15px 0;
        }
    }
    &__notice {
        h4 {
            font-size: 1.3em;
            margin: 10px 0;
        }

        ul {
            // list-style: none;
            font-size: 1em;
        }

        li {
            margin: 15px 0;
        }
    }

    
}

.fa-check-square {
    color: rgb(0, 175, 0);
    padding-right: 15px;
    padding-left: 10px;
}

.fa-user-alt {
    color: gray;
    padding-right: 15px;
    padding-left: 10px;
}