.seminar {
    margin: 0 auto;
    width: 70%;

    &__blk {
        margin: 50px 0;

        img {
            max-width: 800px;
            width: 100%;
            display: block;
            margin: 0 auto;
        }

        p {
           padding-top: 20px; 
        }
    }

    &__title {
        line-height: 35px;
        font-size: 25px;
        padding-left: 50px;
        margin-bottom: 35px;
        border-left: solid 25px;
        border-color: gold;


    }

    
}