.works {
    padding-top: 50px;
    text-align: center;
    padding: 0 10px;

    // background-color: #efefef;

    &__menu {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 50px 0;
        
        li {
            padding: 5px 20px;


            &:nth-child(1) {
                color: white;
                background-color: black;
            }
        }

        
    }

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 1180px;
        margin: 0 auto;
    }

    &__blk {
        // background-color: white;
        height: 300px;
        width: 280px;
        padding: 20px;
        margin: 20px 0;
        overflow: hidden;

        img {
            max-width: 240px;
        }

        span {
            font-size: 14px;
            color: black;
        }
    
        h4 {
            font-size: 18px;
        }

        p {
            font-size: 14px;
        }
    }

}

.wrksingle {
    margin: 0 auto;
    width: 70%;

    &__title {
        font-size: 34px;
        line-height: 60px;
    }

    &__subtitle {
        font-size: 25px;
        line-height: 48px;
    }

    &__info {
        line-height: 30px;
        padding: 10px 0;
        border-collapse: collapse;

        td {
            border-top: gray 1px solid;
            border-bottom:  gray 1px solid;
            line-height: 50px;
        }

        li {
            display: inline-block;
        }


    }
    &__img {
        width: 95%;
        margin: 5% auto;
        img { 
            width: 100%;
        }
    }
}

.-item {
    width: 15%;
}

.betoc__menu {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 50px 0;
        
        li {
            padding: 5px 20px;


            &:nth-child(2) {
                color: white;
                background-color: black;
            }
        }

}

.wordpress__menu {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 50px 0;
        
        li {
            padding: 5px 20px;


            &:nth-child(3) {
                color: white;
                background-color: black;
            }
        }
}

.responsive__menu {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 50px 0;
        
        li {
            padding: 5px 20px;


            &:nth-child(4) {
                color: white;
                background-color: black;
            }
        }
}
.international__menu {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 50px 0;
        
        li {
            padding: 5px 20px;


            &:nth-child(5) {
                color: white;
                background-color: black;
            }
        }
}

.store__menu {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 50px 0;
        
        li {
            padding: 5px 20px;


            &:nth-child(6) {
                color: white;
                background-color: black;
            }
        }
}

.lp__menu {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 50px 0;
        
        li {
            padding: 5px 20px;


            &:nth-child(7) {
                color: white;
                background-color: black;
            }
        }
}

